@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono";
    word-spacing: -1px;
    font-style: normal
}
/* shared style start */
.main-width{
    width: 1440px;
    margin: 0 auto;

}
.secondary-width{
    width: 1140px;
    margin: 0 auto;

}
.text-title{
    font-size:32px ;
    font-weight:800 ;
    color: rgb(13, 19, 33);
}
.text-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}

/* shared style end */
/* header-up section start */
.header-up-section{
    height: 131px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 

}
.header-up-section h6{
 font-size: 28px;   
 font-weight:800 ;
 color:rgb(13, 19, 33) ;
}
.header-up-section button{
    font-size: 20px;   
    font-weight:600 ;
    color:rgb(13, 19, 33) ;
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
     border-radius: 8px;
    opacity: 0.8;

   }
/* header-up section end */
/* header section start */

.header-section{
    background-image: url(../images/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
   
}
.header-section-container{
   width: 88%;
   margin: 0 auto;
  height: 652px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}
.header-section-container h1{
font-size: 48px;
font-weight: 800;
color: rgb(13, 19, 33);
margin: 32px  24px;
}
.header-section-container button{ 
    margin-top: 32px; 
    font-size: 20px; 
    font-weight: 600px;
    padding: 21px  24px; 
    background-color:rgb(13, 19, 33) ;
     color: rgb(255, 255, 255); 
    border-radius:8px ;
     -webkit-border-radius:8px ;
      -moz-border-radius:8px ;
       -ms-border-radius:8px ;
        -o-border-radius:8px ;
}
/* header section end */
/* devlopment section start*/
.development-section{
 display: flex;
 margin-top:74px ;
 margin-bottom: 90px;
 justify-content: center;
 align-items: center;
 border-radius: 16px;
 border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
 -webkit-border-radius: 16px;
 -moz-border-radius: 16px;
 -ms-border-radius: 16px;
 -o-border-radius: 16px;
 padding: 80px 97px;
}
.development-section-container{
  width: 946px;
  height: 1233px;
}
 .development-section-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
 }
 .development-section-text h3{
    margin-bottom: 24px;

 }
 .text-2-container h3{
color: rgba(13, 19, 33, 0.7);
 font-size: 24px;
 font-weight: 36px;
 margin-bottom: 16px;
 }
 .development-section-text p{
  margin: 24px 0 48px 0;
 }
 .text-2-container button{
    font-size: 20px;
    font-weight: 500;
    color: rgb(13, 19, 33); 
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
 padding: 12px 20px;
 background-color: #fff;
 margin-top: 32px;
 }
 .image-text{
    padding: 48px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
   
 }
 .image-text-2{
margin: 32px 0;
display: flex;
border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
padding:48px ;

 }
 .image-text-2 img{
    margin-right: 32px;
    
 }
/* devlopment section end*/
/* vai section start */
.vai-section{
    display: flex;
 flex-direction: column;
}
.vai-section-text{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
}
.vai-section-text p{
    margin: 24px 0 32px 0;
}
.vai-section-image{
   
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;


}
.vai-section-image img{
margin: 32px;
}

/* vai section end */
/* language icons */
.language-icons{
margin-top: 111px;
margin-bottom: 45px;
}
.language-icons-container-text p{
margin: 24px 0 48px 0;
}
.language-icons-container-text{
    width: 852px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.language-icon-text{
margin-left: 25px;
}
.margin-t-b{
    margin: 24px 0;
}
.language-icon-text h4{
    font-size: 24px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-bottom: 8px;

}
.language-icon-text a{
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    margin-top: 24px;
    display: inline-block;
}
.language-icon-container{
 display: flex;

border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
padding: 40px;
/* margin-left: 25px; */
background: rgb(255, 255, 255);
}
/* language icons */
/* handseek section start */
.handsek-section{
 background-image:url(../images/handshake.jpg); 
 border-radius:16px ;
 -webkit-border-radius:16px ;
 -moz-border-radius:16px ;
 -ms-border-radius:16px ;
 -o-border-radius:16px ;
 height: 313px;
 margin-bottom:80px ;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 border-radius: 16px;
background-color: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
background-blend-mode: overlay;
}
.handsek-container h3{
color: rgb(255, 255, 255);
}
.handsek-container p{
color: rgba(255, 255, 255,.7);
}
.handsek-container p{
 margin: 16px 0 24px 0;

}
.write-text{
    width: 750px;
    display: flex;
    justify-content: space-between;
}
input[type="text"]{
    width: 600px;
    height: 57px;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
padding: 19px 20px;
background: rgb(255, 255, 255);
color: rgba(13, 19, 33,0.4);
font-weight: 400;
}
.write-text button{
    height:57px ;
    font-size:20px ;
    font-weight: 600;
    color: rgb(13, 19, 33);
    padding: 17px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/* handseek section  end*/
/* footer start */
footer{
    
    border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
}
.footer-container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
 font-size: 20px;
 font-weight: 600;
 color: rgb(13, 19, 33);
}
.footer-icon{
display: flex;
gap: 24px;
}

/* footer end */